<div>
  <p class="font-bold">Binance Account:</p>

  <div data-controller="binance-service"
    data-api-key="<%= Platform.first.api_key%>"
    data-api-secret="<%= Platform.first.api_secret%>"
  >
  </div>
</div>
